<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Facturas</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GeneraFactura</display-name>
    <servlet-name>GeneraFactura</servlet-name>
    <servlet-class>controller.GeneraFactura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GeneraFactura</servlet-name>
    <url-pattern>/GeneraFactura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesaFactura</display-name>
    <servlet-name>ProcesaFactura</servlet-name>
    <servlet-class>controller.ProcesaFactura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesaFactura</servlet-name>
    <url-pattern>/ProcesaFactura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarLogin</display-name>
    <servlet-name>ProcesarLogin</servlet-name>
    <servlet-class>controller.ProcesarLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarLogin</servlet-name>
    <url-pattern>/ProcesarLogin</url-pattern>
  </servlet-mapping>
</web-app>